src/main/resources/META-INF/xml/XMLSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="jahia-edp-products">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:int"></xs:element>
                            <xs:element name="name" type="xs:string"></xs:element>
                            <xs:element name="model" type="xs:string"></xs:element>
                            <xs:element name="description" type="xs:string"></xs:element>
                            <xs:element name="price" type="xs:double"></xs:element>
                            <xs:element name="image" type="xs:string"></xs:element>
                            <xs:element name="manual" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
